* {
    margin: 0;
    padding: 0;
}

.userName {
    position: relative;
    text-align: center;
    top: 130mm;
}

.userName {
    font-family: 'Teko', sans-serif;
    font-size: 65px;
    color: #12222D;
    font-weight: 500;
}

.courseName {
    position: relative;
    text-align: left;
    top: 129.3mm;
    left: 240mm;

}

.courseName {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #143E59;
    font-size: 30px;
    font-weight: bold;
}

.month {
    position: relative;
    text-align: center;
    top: 119.9mm;
    left: 18mm;
}

.month {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #143E59;
    font-size: 30px;
    font-weight: bold;
}

.year {
    position: relative;
    top: 120.5mm;
    right: 17mm;
}

.year {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #143E59;
    font-size: 29px;
    font-weight: bold;
}

.date {
    position: relative;
    text-align: center;
    top: 189mm;
    right: 72mm
}

.date {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #12222D;
    font-size: 28px;
    font-weight: bold;
}